html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}
#map-canvas-nl {
  height: 100%;
  margin: 0px;
  padding: 0px
  display: inline-block;
  width:100%%;
  float:right;
}
#panel1 {
  position: absolute;
  bottom:0px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#spinner {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('../img/spinner.gif') 
              50% 50% 
              no-repeat;
}
body.loading {
    overflow: hidden;   
}

body.loading #spinner {
    display: block;
}
